.card {
    background-color: rgb(78, 78, 78);
    padding: 25px;
    border-radius: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}