.wrapPage {
  width: 100%;
  height: auto; 
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  z-index: -1;
}

.graphPage {
  align-items: center;
}

.wrapPage img {
  width: 150px;
  height: 150px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.title {
  color: white;
}
